/* style.css */

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.canvas-container {
  background: #000000; /* Color del Canvas */
  
}

.arcade-screen {
  background-color: #00ff6a;
  width: 595px;
  height: 470px;
  overflow-y: auto;
}

.pc-screen {
  background-color: #00ff6a;
  width: 680px;
  height: 440px;
  overflow-y: auto;
  z-index: -1;
}
.pud-screen {
  background-color: #ffffff;
  width: 900px;
  height: 1900px; 
  overflow-y: auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.button img {
  width: 50px; /* Ancho de las imágenes (ajusta según tus necesidades) */
  height: auto; /* Altura ajustable para mantener la proporción */
  opacity: 0.4;
}
@media only screen and (max-width: 600px) {

  .button img {
    width: 35px; /* Ancho de las imágenes (ajusta según tus necesidades) */
    height: auto; /* Altura ajustable para mantener la proporción */
    opacity: 0.4;
  }

}




