/* style.css */

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.canvas-container {
  background: #000000; /* Color del Canvas */
  
}



 
.pud-screen {
  background-image: url('/public/texture/bgPud.png');
  background-position: center;
  width: 900px;
  height: 1900px; 
  overflow-y: auto;
}
.container-with-border {
  position: absolute; /* Permite ajustar la posición del contenedor */
  height: 20%;
  top: 30%; /* Posición vertical inicial */
  left: 5%; /* Posición horizontal inicial */
  max-width: 70%; /* Ancho máximo del contenedor */
  padding: 50px; /* Espacio interior del contenedor */
  border-width: 20px; /* Ancho del borde */
  border-style: solid; /* Estilo del borde */
  border-image-source: url('/public/texture/Recuadro.png'); /* Ruta a la imagen del borde */
  border-image-slice: 20; /* Tamaño de la imagen del borde */
  color: aliceblue;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.button img {
  width: 50px; /* Ancho de las imágenes (ajusta según tus necesidades) */
  height: auto; /* Altura ajustable para mantener la proporción */
  opacity: 0.4;
}
@media only screen and (max-width: 600px) {

  .button img {
    width: 35px; /* Ancho de las imágenes (ajusta según tus necesidades) */
    height: auto; /* Altura ajustable para mantener la proporción */
    opacity: 0.4;
  }

}




