.container {
  position: fixed;
  top: 43%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 5%;
  border-radius: 8px;
  max-width: 420px;
  width: 90%; /* Ajustado para ser más responsivo */
  font-family: 'Signika Negative';
  font-weight: 700;
  
}

.header {
  margin-bottom: 10px;
  color: #eceaea;
  font-size: 2.5rem; /* Ajustado para ser más responsivo */
  text-shadow: 2px 4px 4px #316ddb80;
  
 
}
 
.text {
  color: #d19a49;
  font-size: 1.2rem; /* Ajustado para ser más responsivo */
}

.cv-button {
  font-family: 'Signika Negative';
  font-weight: 700;
  margin-right: 30px; /* Añadir separación entre botones */
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cv-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-cv-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-cv-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.cv-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* Media query para dispositivos más pequeños */
@media (max-width: 600px) {
  .container {
    width: 100%; /* Cambiado para ocupar el ancho completo en dispositivos pequeños */
    padding: 2%; /* Ajustar el padding para un mejor aspecto en dispositivos pequeños */
  }

  .header {
    font-size: 1rem;
  }

  .text {
    font-size: 0.8rem;
  }

  .cv-button {
    margin-right: 0; /* Eliminar la separación entre botones en dispositivos pequeños */
    margin-bottom: 10px; /* Añadir separación vertical entre botones */
    display: block; /* Asegurar que los botones se muestran en líneas separadas */
  }
}
