
:root {
  --header-color: #ffffff;
  --subtitle-color: #eb9729;
  --button-bg-color: #111; /* Color de fondo del botón modificado según tu estilo */
  --button-text-color: #fff;
}



.start-section {
 
  background-color: transparent; /* Hacemos el fondo transparente */
  padding: 20px;
  border: none; /* Quitamos el borde */
  position: fixed;
  top: 45%;
  left: 20px; /* Ajusta el valor según el espacio que desees en el borde izquierdo */
  transform: translate(0, -65%);
}

.section-header {
  font-size: 34px;
  font-weight: 700; 
  font-family: "Signika Negative"; 
  margin-bottom: 10px;
  color: var(--header-color);
  text-shadow: 5px 4px 4px #1c69e678; /* Añadimos un text-shadow al texto del encabezado */
}

.section-subtitle {
  font-size: 26px;
  font-weight: 700; 
  font-family: "Signika Negative"; 
  color: transparent;
  background-image: linear-gradient(to right, #2a76e7, #bd0a40);
  -webkit-background-clip: text; 
  background-clip: text;
  margin-bottom: 30px;
  
}

.start-button-container {
  display: flex;
  justify-content: space-between;
}

.action-button {
  flex: 1;
  margin-right: 25px;
  padding: 0.8em 1.5em; 
  font-weight: 500; 
  font-family: "Signika Negative"; 
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.action-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-cv-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-cv-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.action-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Consulta de medios para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .start-section {
    padding: 10px; /* Ajusta el espacio interno para dispositivos móviles */
    left: 50%; /* Coloca el contenedor en el centro horizontal */
    transform: translateX(-50%) translateY(50%); /* Centra vertical y horizontalmente */
    text-align: center; /* Centra el texto */
  }

  .section-header {
    font-size: 18px; /* Tamaño más pequeño para el encabezado en dispositivos móviles */
  }

  .section-subtitle {
    font-size: 16px; /* Tamaño más pequeño para el subtítulo en dispositivos móviles */
  }

  .start-button-container {
    flex-direction: column; /* Muestra los botones en columna para dispositivos móviles */
    align-items: center; /* Alinea los botones al centro */
  }

  .action-button {
    margin-right: 0; /* Elimina el margen derecho para botones en dispositivos móviles */
    margin-bottom: 20px; /* Añade espacio entre los botones en dispositivos móviles */
    padding: 0.9em 2em;
    font-size: 10px; /* Tamaño más pequeño para los textos de los botones en dispositivos móviles */
  }
}
