/* style.css */

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.canvas-container {
  background: #080808; /* Color del Canvas */
}

.arcade-screen {
  background-color: #00ff6a;
  width: 595px;
  height: 470px;
  overflow-y: auto;
}

.pc-screen {
  background-color: #00ff6a;
  width: 680px;
  height: 440px;
  overflow-y: auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.button img {
  width: 50px; /* Ancho de las imágenes (ajusta según tus necesidades) */
  height: auto; /* Altura ajustable para mantener la proporción */
  opacity: 0.4;
}

/* Annotation Style*/
.annotation {
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0 0 0 0.09px white;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 100px; /* Tamaño original: 8px, modificado para mayor visibilidad */
  font-weight: 300;
  background: #3a3939;
  color: white;
  padding: 80px 160px; /* Ajustado para mayor tamaño y mejor aspecto */
  border-radius: 200px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.annotation:hover {
  box-shadow: inset 250px 0 0 0 #eee8e8;
  color: #09d420;
}
