

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.canvas-container {
  background: #080808; /* Canvas Color */
}

.arcade-screen {
  background-color: #00ff6a;
  width: 595px;
  height: 470px;
  overflow-y: auto;
}
.pc-screen {
  background-color: #00ff6a;
  width: 680px;
  height: 440px;
  overflow-y: auto;
}
